<div>
	<h1>{{ localize "EREDYN-EXTRAS.biome-list.title" }}</h1>

	<div class="search-bar">
		<input
			type="search"
			placeholder="🔎 {{ localize 'EREDYN-EXTRAS.biome-list.search-placeholder' }}"
		/>

		<div class="view-mode">
			<button
				class="icon {{#ifeq view 'gallery'}}active{{/ifeq}}"
				data-action="view-mode"
				data-value="gallery"
				data-tooltip="{{ localize 'PACKAGE.VIEW_MODES.GALLERY' }}"
			>
				<i class="fa-solid fa-image-landscape"></i>
			</button>
			<button
				class="icon {{#ifeq view 'tiles'}}active{{/ifeq}}"
				data-action="view-mode"
				data-value="tiles"
				data-tooltip="{{ localize 'PACKAGE.VIEW_MODES.TILES' }}"
			>
				<i class="fa-solid fa-grid-horizontal"></i>
			</button>
			<button
				class="icon {{#ifeq view 'details'}}active{{/ifeq}}"
				data-action="view-mode"
				data-value="details"
				data-tooltip="{{ localize 'PACKAGE.VIEW_MODES.DETAILS' }}"
			>
				<i class="fa-solid fa-list"></i>
			</button>
		</div>
	</div>

	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>{{ localize "EREDYN-EXTRAS.biome-details.field-image" }}</th>
					<th>{{ localize "EREDYN-EXTRAS.biome-details.field-name" }}</th>
					<th>{{ localize "EREDYN-EXTRAS.biome-details.field-description" }}</th>
					<th>{{ localize "EREDYN-EXTRAS.biome-details.field-actor-count" }}</th>
					<th>{{ localize "EREDYN-EXTRAS.column-actions" }}</th>
				</tr>
			</thead>
			<tbody>
				{{#each biomes}}
				<tr>
					<td>
						{{#if this.image}}
						<img
							src="{{ this.image }}"
							alt="{{ this.name }}"
						/>
						{{/if}}
					</td>
					<td>
						<b>
							{{ this.name }}
						</b>
					</td>
					<td class="description">
						{{ this.description }}
					</td>
					<td>
						<center>
							{{ this.actorCount }}
						</center>
					</td>
					<td class="actions">
						<button
							data-action="view"
							data-id="{{ this.id }}"
							data-tooltip="{{ localize 'EREDYN-EXTRAS.biome-details.button-view'}}"
						>
							<i class="fa-solid fa-eye"></i>
						</button>
						<button
							data-action="edit"
							data-id="{{ this.id }}"
							data-tooltip="{{ localize 'EREDYN-EXTRAS.biome-details.button-edit'}}"
						>
							<i class="fa-solid fa-pen-to-square"></i>
						</button>
						<button
							data-action="delete"
							data-id="{{ this.id }}"
							data-tooltip="{{ localize 'EREDYN-EXTRAS.biome-details.button-delete' }}"
						>
							<i class="fa-solid fa-trash"></i>
						</button>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<div>
		<button data-action="create">
			<i class="fas fa-plus"></i>
			{{ localize "EREDYN-EXTRAS.biome-list.button-create" }}
		</button>
	</div>
</div>
